body {
    background-color: black;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#display-wrapper {
    min-height: 70vh;
}

#input-wrapper {
    display: flex;
    gap: 5px;
}

main,
#display-wrapper,
#input-wrapper {
    border: 1px solid black;
}